@font-face{
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'poppins';
    src: url(../fonts/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 100;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: montserrat;
}
body{
    background-color: white;
}


/* LOADER */ 

.preload{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    z-index:9999;
}



    .loader {
    border: 5px solid #ffffff;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.preload-finish{
    opacity:0;
    pointer-events: none;
}



/* Banner */
.banner{
    position:relative;
    padding:160px 0px;
    width: 100%;
    height: 70vh;
    background-size:cover;
    background-image: linear-gradient(to left, rgba(0,0,0,0.9),rgba(0, 0, 0, 0.6)), url(../img/poza-about-us.jpg);
    background-position: center;
    box-shadow:1px 2px 4px 0px #00000075 !important;
    background-attachment: fixed;
}
.navigatie{
    background-color:transparent;
    width:100%;
    position:fixed;
    z-index: 99;
    margin:0px;
    padding:0px;
    margin-top: -160px;
}


.logo {
    float: left;
    padding: 8px;
    margin-left: 40px;
    margin-top: 8px;
}

.navbar-brand{
    color:white !important;
}
.navbar-brand img{
    width: auto;
    height: 100px;
    margin:-32px 0px -25px 0px;
}

nav ul {
    float: right;
    list-style-type: none;
    padding-top:5px;
    margin-right:20px;
}

nav ul li {
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.1px;
    font-weight: 600;
}

nav ul li a:hover{
    color:#fff;
    text-decoration: underline;
}


/* FUNDAL JS */


.fundal{
    background:#104f47 !important;
    box-shadow:1px 2px 4px 0px #00000075 !important;
}

.fundal .nav-btn {
    background-color:#104f47;
    border-radius: 50%;
    box-shadow:1px 2px 4px 0px #00000075;
}

.fundal .nav-btn i{
    background: #fff;
    border-radius: 2px;
}




#nav:checked + .nav-btn {
    transform: rotate(45deg);
    background-color: #104f47;
}

#nav:checked + .nav-btn i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    display:block
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}



/* MEDIA SCREEN NAVBAR PTR TLF */

@media only screen and (max-width: 991px){

    .navigatie{
        background-color:transparent;
        width:100%;
        position: absolute;;
        z-index: 99;
        margin:0px;
        padding:0px;
        margin-top:-160px;
    }
        


    .navbar-brand img{
        height:100px;
        margin:-20px 0px 0px 0px;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        display:none;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: center;
          padding-top:10px;
          margin-bottom: 10px;
    }


    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 30px;
          top: 28px;
          display: block;
          width: 47px;
          height: 46px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #fff;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

.title{
    position: absolute;
    top:55%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.title h1{
    color:#fff;
    font-family: montserrat;
    font-size:50px;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: 700;
}



/* CINE SUNTEM */

.First-head-section{
    padding-top:0px;
    padding-bottom:50px;
}

.cinesuntem{
    padding-top:70px;
    padding-bottom:30px;
    text-align: center;
}

.First-head-section .cinesuntem h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#072523;
}


.First-head-section .cinesuntem h1::after{
    content:'';
    background:#148071;
    display:block;
    width: 330px;
    height: 3px;
    margin:10px auto;
    margin-left:-50px;
}
.cinesuntem p{
    text-align: left;
    padding-bottom:20px;
}

.cinesuntem img{
    margin-top:20px;
    width: 380px;
    box-shadow: 0px 0px 5px 2px #bbbbbb;
}





/* CE OFERIM */

.oferta{
    background:#b1b1b12c;
    text-align:center;
    color:rgb(24, 24, 24);
    padding-top:50px;
    padding-bottom:70px;
}

.oferta .container {
    padding:0px;
}
.oferta .coloana{
    margin:0px;
}
.oferta h1{
    margin:0px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom:40px;
    color:#072523;
}

.oferta h1::after{
    content:'';
    background:#148071;
    display:block;
    width: 500px;
    height: 3px;
    margin:10px auto;
}


.oferta .interior{
    text-align: center;
    padding-top:10px;
    margin-bottom:10px;
    margin-right:10px;
}


.oferta .number span{
    color:white;
    font-size:18px;
    font-weight: 700;
    background-color:#072523;
    padding:10px 11px 10px 11px;
    border-radius: 50%;
}
.oferta .number h2{
    padding-top: 25px;
    padding-bottom: 5px;
    display: block;
    font-size:18px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
    color:#8dadac;
}
.oferta p{
    font-size:14px;
    font-family: montserrat;
}





/* CE NE PROPUNEM */

.Promises{
    padding-top:0px;
    padding-bottom:100px;
}

.Promises .ce-ne-propunem{
    padding-top:70px;
    padding-bottom:30px;
    text-align: center;
}

.Promises .ce-ne-propunem h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#072523;
}


.Promises .ce-ne-propunem h1::after{
    content:'';
    background:#148071;
    display:block;
    width: 330px;
    height: 3px;
    margin:10px auto;
    margin-right:-50px;
}

.Promises .ce-ne-propunem p{
    text-align: left;
    padding-bottom:20px;
}

.Promises .ce-ne-propunem img{
    margin-top:20px;
    width: 380px;
    box-shadow: 0px 0px 5px 2px #bbbbbb;
}











/* 991 _---------------------------------------------------------- */


@media only screen and (max-width: 991px){


    .banner{
        background-attachment: scroll;
        }

    /* CINE SUNTEM */


    .cinesuntem{
        padding-top:50px;
        padding-bottom:30px;
        text-align: center;
    }


    .cinesuntem p{
        padding-bottom:20px;
    }


    /* CE OFERIM */


    .oferta{
        padding-top:30px;
        padding-bottom:40px;
    }

    .oferta h1::after{
        content:'';
        background:#148071;
        display:block;
        width: 500px;
        height: 3px;
        margin:10px auto;
        margin-left:-50px;
    }

    .oferta .number h2{
        font-size:18px;
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;
        color:#8dadac;
    }
    .oferta .coloana{
        margin:0px;
    }




    /* CE NE PROPUNEM */


    .Promises .ce-ne-propunem{
        padding-top:100px;
        padding-bottom:30px;
        text-align: center;
    }
    
    
    .Promises .ce-ne-propunem .poza img{
        display:none;
    }
    .Promises .ce-ne-propunem p{
        padding-bottom:20px;
    }

    




}


@media only screen and (max-width: 400px){

    /* CE OFERIM */
    .oferta .number i{
        font-size:20px;
        padding-right:5px;
    }
    .oferta .number h2{
        font-size:14px;
        padding-bottom:10px;
    }
}




/* ---------------600PX --------------------------------------------------------*/

@media only screen and (max-width: 600px) {

    .navbar-brand img{
        height:100px;
        margin:-20px 0px 0px -20px;
    }


    /*BANNER */


    .banner{
    background-attachment: scroll;
    }
    .title{
        position: absolute;
        top:50%;
        left:50%;
        text-align: center;
        transform: translate(-50%,-50%);
    }
    .title h1{
        font-size:35px;
    }

    /* CINE SUNTEM */


    .First-head-section{
        padding-top:20px;
        padding-bottom:30px;
    }
    .cinesuntem{
        padding-top:10px;
    }
    .First-head-section .cinesuntem h1{
        padding-top: 30px;
        font-size: 23px;
        padding-bottom: 20px;
        text-align: left;
    }
    .First-head-section .cinesuntem h1::after{
        width: 150px;
        height: 3px;
        margin:10px auto;
        margin-left:-50px;
    }
    


/* CE OFERIM */

    .oferta{
        padding-top:50px;
        padding-bottom:10px;
        padding-left:20px;
    }

    .oferta  h1{
        margin:0px 0px 0px 12px;
        font-size: 23px;
        padding-bottom: 15px;
        text-align: left;
    }
    .oferta h1::after{
        width: 150px;
        height: 3px;
        margin:10px auto;
        margin-left:-50px;
    }


    .oferta .interior{
        margin-bottom:25px;
        text-align: left;
        margin-right: 0px;
    }
    .oferta .number i{
        font-size:30px;
        padding-right:0px;
        text-align: left;
    }
    .oferta .number h2{
        display: inline-block;
        font-size:18px;
        padding-top:10px;
        padding-bottom:10px;
        text-align: left;
        padding-left: 10px;

    }
    .oferta p{
        padding-top:0px;
        font-size:15px;
        padding-bottom:15px;
    }


        /* CE NE PROPUNEM */

    .Promises{
        padding-top:20px;
        padding-bottom:30px;
    }
    .Promises .ce-ne-propunem{
        padding-top:20px;
    }
    .Promises .ce-ne-propunem h1{
        padding-top: 20px;
        font-size: 23px;
        padding-bottom: 20px;
        text-align: left;
    }
    .Promises .ce-ne-propunem h1::after{
        width: 150px;
        height: 3px;
        margin:10px auto;
        margin-left:-50px;
    }
        
    
    
}


/* ---------------450px --------------------------------------------------------*/

@media only screen and (max-width: 450px) {

    .banner{
    background-attachment: scroll;
    }

    /* CINE SUNTEM */

    .cinesuntem .poza img{
        width: 250px;
    }

    /* CE OFERIM */

    .oferta .row {
        margin-right: 0px
    }
        
    /* CE NE PROPUNEM */


}







/* ---------------300px --------------------------------------------------------*/

@media only screen and (max-width: 300px) {


    .banner{    
        background-attachment: scroll;
    }
    .navbar-brand img{
        height:100px;
        margin:-20px 0px 0px -20px;
    }

    /* CINE SUNTEM */

    .First-head-section .cinesuntem h1 {
        padding-top: 30px;
        font-size: 20px;
    }
    .cinesuntem .poza img{
        width: 200px;
    }

    /* CE OFERIM */

    .oferta{
        padding-bottom:10px;
    }

    .oferta h1 {
        font-size: 20px;
    }

    .oferta .row {
        margin-right: 0px
    }

    /* CE PROMITEM */

    .Promises .ce-ne-propunem h1 {
        font-size: 20px;
    }

}




/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }