@font-face{
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'playfair';
    src: url(../fonts/PlayfairDisplay-Medium.ttf);
    font-style: normal;
    font-weight: 100;
}


    /* PARTEA DE CONTACT */

.background-contact{
    background-image: linear-gradient(to left, rgba(0,0,0,0.9),rgba(0, 0, 0, 0.6)), url(../img/background-contact-3-fullscreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 50px 0px 50px 0px;
}

.mesaj{
    padding-top:80px;
    padding-bottom:50px;
    text-align: center;
}

.mesaj h1{
    color:#fff;
    font-family: montserrat;
    font-size: 30px;
    text-transform: uppercase;
    color:#fff;
}


.buton-contact{
    text-align: center;
    padding-bottom:45px;
}
.buton-contact a{
    border: none;
    padding:12px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;
    background-color:#104f47;
    box-shadow:1px 2px 4px 0px #00000075;
    border-radius: 5px;
}
.buton-contact a:hover{
    background-color:#104f47;
    color:white;
    border:none;
    text-decoration: none;
}





    /* FOOTER */

    .page-footer{
        background-color: #222 !important;
        color:white !important;
        margin-top:-50px !important;
    }
    .page-footer .social-media{
        padding-top:20px !important;
    }
    .page-footer .container{
        padding-top:50px;
    }
    .page-footer ul li a{
        text-decoration: none !important;
        color:#fff !important;
        font-size:14px;
    }
    .page-footer ul li a:hover{
        text-decoration: none !important;
        color:#104f47 !important;
    }
    .social-media a i{
        padding-top:10px;
        width: 50px;
        height: 45px;
        background-color: #333;
        border-radius:50%;
    }
    .social-media a i:hover{
        color:#104f47 !important;
    }
    .social-media{
        margin-top:-20px;
        padding-bottom:20px;
        margin-left: 10px;
    }
    .footer-copyright{
        background-color:#333;
    }
    .footer-copyright p{
        margin-bottom:-5px;
        font-size:13px;
    }

    .text-contact::after{
        content:'';
        background:#148071;
        display:block;
        width: 75px; 
        height: 2px;
        margin-top:7px;
    }


@media only screen and (max-width: 600px) {


    /* CONTACT */

        
    .mesaj h1{
        font-family: montserrat;
        font-size: 23px;
    }

    .background-contact{
    background-image: linear-gradient(to left, rgba(0,0,0,0.9),rgba(0, 0, 0, 0.6)), url(../img/background-contact-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 4px 0px 0px 0px;
}

.text-contact::after {
    content: '';
    background: #148071;
    display: block;
    width: 75px;
    height: 2px;
    margin: 10px auto;
}
    
}

@media only screen and (max-width:400){

    body{
        font-size:13px;
    }
    .banner-contact{
        background-attachment: scroll;
    }  

}



@media only screen and (max-width: 300px) {


    body{
        font-size:13px;
    }
    .banner-contact{
        background-attachment: scroll;
    }
    
    .mesaj h1{
        font-family: montserrat;
        font-size: 19px;
    }
    
}